<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Mentor on Demand</a>
    </div>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
      <li *ngIf="authority === 'user'" class="nav-item">
        <a class="nav-link" *ngIf="user" routerLink="user/{{ user.id }}">User Trainings</a>
      </li>
      <li *ngIf="authority === 'admin'" class="nav-item">
        <a class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li *ngIf="authority === 'mentor'" class="nav-item">
        <a class="nav-link" *ngIf="mentor" routerLink="mentor/{{ mentor.id }}">Mentor Trainings</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <ng-template [ngIf]="!authority">
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Register <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" routerLink="signup">As User</a></li>
            <li><a style="cursor: pointer;" routerLink="signup/mentor">As Mentor</a></li>
          </ul>
        </li>
        <li><a routerLink="auth/login">Login</a></li>
      </ng-template>
      <ng-template [ngIf]="authority">
        <li><a style="cursor: pointer;" (click)="logout()">Logout</a></li>
      </ng-template>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
