<div class="container">
  <form name="form" (ngSubmit)="onSearch()" novalidate>
    <div class="form-group">
      <label for="skill-search">Search for training</label>
      <input type="text" class="form-control" style="max-width:312px" name="skillsearch" [(ngModel)]="form.skill" #skillsearch="ngModel" required />
    </div>
    <div class="form-group form-inline">
      <label for="starttime">From</label>&nbsp;
      <input type="time" class="form-control" name="starttime" [(ngModel)]="form.starttime" #starttime="ngModel" />&nbsp;
      <label for="endtime">To</label>&nbsp;
      <input type="time" class="form-control" name="endtime" [(ngModel)]="form.endtime" #endtime="ngModel" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Search</button>
    </div>
  </form>
  <div *ngIf="pMessage" class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{pMessage.message}}
  </div>
  <table class="table table-striped" *ngIf="searchData">
    <thead>
      <tr>
        <th>Mentor</th>
        <th>Years of Experience</th>
        <th>Trainings Delivered</th>
        <th>Fee</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let d of searchData">
      <tr>
        <td><a *ngIf="info.token; else plain" [routerLink]="['/mentor/view', d.mentor.username]">{{ d.mentor.username }}</a><ng-template #plain>{{ d.mentor.username }}</ng-template></td>
        <td>{{ d.mentor.yearsExp }}</td>
        <td>{{ d.mentor.trainingsDelivered }}</td>
        <td>{{ d.mentor.fee }}</td>
        <td>
          <div *ngIf="info.token;"><button class="btn btn-primary" (click)="onPropose(d.userId, d.mentor.id, d.skillId)">Propose</button></div>
          </td>
      </tr>
    </tbody>
  </table>

</div>
